
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container ">
    <div class="col-7">
      <h3 class="text-center">Angular Rectangle Resize</h3>
    </div>
    
  </div>
  
</nav>
<div class="py-4">
  <router-outlet></router-outlet>
</div>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="col-md-7 col-12">
      <h6 class="text-center">Angular Rectangle Resize</h6>
    </div>
    
  </div>
  
</nav>